.hire__btn{
    background: #fff;
    color: #0e1b31;
}

.hire__btn a{
    text-decoration: none;
    font-weight: 500;
}

.hire__btn:hover a{
    color: #0e1b31;
}

.hero__title span{
    color: #7865ff;
}

.hero__title{
    font-weight: 600;
}

.hero__img{
    /* width: 30; */
    /* height: 100; */
    border-radius: 10px;
    background-color: #7865ff;
    /* margin-left: auto; */
    width: 85%;
    margin-left: 150px;
}

.imageClass{
    /* width: 200px;
    height: 200px; */
    /* padding-left: 130px; */
    padding-left: 70px;
}

.imgCol{
    padding-top: 20px;
    margin-left: -50px;
    /* margin-right: 10px; */
}

.hero__section{
    padding-top: 150px;
}

.hero__content p{
    line-height: 30px;
    font-weight: 300;
}


@media only screen and (max-width: 992px){
    .hero__img{
        /* width: 100px;
        height: 100px; */
        width: 95%;
        height: 320px;
    }

    .imageClass{
        /* width: 200px;
        height: 200px; */
        /* padding-left: 130px; */
        /* padding-left: 50px; */
        padding-left: 38px;
        height: 320px;
    }

    .imgCol{
        padding-top: 20px;
        margin-left: -79px;
    }

    .hero__content p{
        font-size: 0.8rem;
    }

    .hero__btns button{
        display: block;
        padding: 5px 20px;
        font-size: 0.8rem;
    }
}

@media only screen and (max-width: 576px){
    /* .hero__img{
        margin: auto;
    } */


    .hero__img{
        /* width: 100px;
        height: 100px; */
        width: 100%;
        height: 320px;
    }

    .imageClass{
        /* width: 200px;
        height: 200px; */
        /* padding-left: 130px; */
        /* padding-left: 50px; */
        padding-left: 100px;
        height: 320px;
    }

    .imgCol{
        padding-top: 20px;
        margin-left: -150px;
        margin-right: 10px;
    }

    .hero__content p{
        margin-bottom: 50px;
    }

    .hero__btns button{
        font-size: 1.5rem;
    }
}